* {
    box-sizing: border-box;
    margin: 10;
}

body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    min-height: 100vh;
    border: 5px solid gray;
    justify-content: center;
    align-items: center;
}

main {
    width: 30%;
}

h1 {
    background-color: #94C47E;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

li span {
    font-family: Helvetica;
}

li {
    margin: 30px 0 30px 0;
    color: rgb(241, 170, 76);
}

li span {
    color: #fff;
    margin-right: 10px;
    text-align: center;
    background-color: red;
    padding: 5px;
}

input,
button {
    border: 3px solid #94C47E;
    height: 40px;
}

input {
    width: 75%;
}

button {
    background-color: #fff;
    color: #94C47E;
    text-transform: uppercase;
    font-weight: 600;
    width: 24%;
    -ms-flex-align: end;
}